name: Package Deployment

on: [push]

jobs:
  package-deployment:
    name: Build and upload package ready for AWS Lambda
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@master

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Print current SHA
        run: |
          echo "SHA: ${{ github.sha }}"

      - name: Create package
        run: |
          sed -i "s/\${VERSION_SHA}/${{ github.sha }}/g" index.js
          cat index.js
          zip -r ${{ github.sha }}.zip index.js
          ls -la
