name: Create Preview Environment Comment

on:
  pull_request:
    types: [opened]

jobs:
  preview-environment:
    name: Create Preview Environment Comment
    runs-on: ubuntu-latest

    steps:
      - id: calculate-environment-id
        run: |
          echo "::set-output name=environment::$(echo -n \"${{ github.event.organization }}${{ github.event.repository }}${{ github.event.number }}\" | sha256sum | cut -d " " -f 1 | head -c 7)"
      - uses: mshick/add-pr-comment@v1
        with:
          message: |
            Preview Environment will shortly be available at https://${{ steps.calculate-environment-id.outputs.environment }}.hello-service.preview-environments.liftspace.net/hello
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          repo-token-user-login: 'preview-environments'
          allow-repeats: false

